body {
   background: url(https://wallpapercave.com/wp/68W2NAO.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
  padding: 75px;
}

#title {
  padding-top: 25px;
  color: white;
  text-shadow: 2.5px 2.5px 5px black;
}

#survey-form {
  background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
  width:800px;
  height: 800px;
  margin: 0 auto;
  display: block;
  border-radius: 25px;
  box-shadow: 10px 15px 10px gray;
}

#form-inner {
  padding:50px;
}

#leftColumn {
  width: 50%;
  right: 0px;
  float: left;
}

#rightColumn {
  width: 50%;
  display: inline-block;
}

#title, 
#description {
  text-align: center;
}

input,
select,
textarea {
  margin-bottom: 50px;
  margin-top: 20px;
}

textarea {
  width: 85%;
  height: 75px;
}

#submit {
  border-radius: 25px;
  width: 100px;
  padding:10px;
  background-color:#0fffff;
  display: block;
  justify-content: center;
}